<%# Inspired by: https://github.com/NatTuck/husky_shop_spa/blob/1370d1a3e1c86623cc32d37b71807fe1e2d7a890/lib/husky_shop_web/templates/page/index.html.eex %>
<div id="root">
  <div class="row">
    <div class="col-12">
      <p>React component loading...</p>
    </div>
  </div>
</div>
<script>
 window.tasks = <%= raw Jason.encode!(@tasks) %>;
</script>
